/* Error */
.error {
    font-weight:bold;
}

/* Navbar */
.navbar-brand {
    font-size: 25px;
    color: #fff;
    font-weight:bold;
}

.navbar-nav {
    font-size:25px;
}

.nav-link {
    cursor: pointer;
}

/* Sidebar */
#sidebar {
    float:left;
    width: 250px;
    height:auto;
    border-right:3px solid white;
}

#recipes {
    font-size:20px;
}

.click {
    cursor: pointer;
}

/* Main Content */
#recipe-details {
    margin-left: 250px;
    padding: 20px;
}