/* Variables (W3Schools, 2024d) */
:root {
    --selected-color: white;
}

/* Error */
.error {
    font-weight:bold;
}

/* Navbar (StackOverflow, 2011a) */
.navbar-brand {
    font-size: 25px;
    font-weight:bold;
}

.navbar-nav {
    font-size:25px;
}

.nav-link {
    cursor: pointer;
    font-size:30px;
    font-weight:bold;
}

/* Search bar (StackOverflow 2013a) */
#searchbox {
    display:inline-block;
    position:relative;
}

#search {
    padding-right:30px;
}
#submit {
    position:absolute;
    right:0;
    top:0;
}

/* Sidebar for dark mode (StackOverflow, 2012a) */
.sidebar-dark {
    overflow:auto;
    float:left;
    width: 250px;
    height:100%;
    border-right:3px solid white;
}

/* Sidebar for light mode (StackOverflow, 2012a) */
.sidebar-light {
    overflow:auto;
    float:left;
    width: 250px;
    height:100%;
    border-right:3px solid black;
}

/* (StackOverflow, 2008a) */
html, body {
    height:98%;
    width:90%
}

/* (StackOverflow, 2011a) */
.click {
    cursor: pointer;
}

/* Main Content */
#content {
    margin-left: 250px;
    padding: 20px;
}

/* (MDN Web Docs, 2024a) */
.selected {
    color: var(--selected-color);
    font-weight:bold;
}

#recipes {
    font-size:20px;
}

h1 {
    font-weight:bold;
}

#ingredients {
    font-size:20px;
}

/* Modify Modal */
#add-ingredient-form {
    text-align:center;
    margin-bottom:15px;
}

#add-recipe-form {
    text-align:center;
}

#ingredient-add-text {
    margin-bottom:10px;
}

.recipe-add {
    margin-bottom:10px;
}

#ingredient-list-button {
    margin-bottom:15px;
}

#recipe-instructions {
    width:400px;
}

#add-recipe-form {
    margin-bottom:35px;
}

#visual-settings {
    text-align:center;
    margin-bottom:35px;
}

#remove-data {
    text-align:center;
    margin-bottom:15px;
}

#remove-recipe-button {
    margin-top:10px;
    margin-bottom:15px;
}

#remove-ingredient-button {
    margin-bottom:15px;
}

#remove-button {
    margin-bottom:10px;
}

.warning-message {
    color: crimson;
}

#initialise-data {
    text-align:center;
}

#initialise-button {
    margin-top:10px;
    margin-bottom:10px;
}