/* Variables (W3Schools, 2024d) */
:root {
    --selected-color: white;
}

/* Error */
.error {
    font-weight:bold;
}

/* Navbar */
.navbar-brand {
    font-size: 25px;
    font-weight:bold;
}

/* Background for navbar-brand (W3Schools, 2024e, 2024f) */
.brand-background {
    border-radius:10px;
    width:205px;
    background-color:rgb(51 51 51);
    color:white;
    margin-bottom:10px;
}

.navbar-nav {
    font-size:25px;
}

/* (StackOverflow, 2011a) */
.nav-link {
    cursor: pointer;
    font-size:30px;
    font-weight:bold;
}

/* Search bar (StackOverflow 2013a) */
#searchbox {
    display:inline-block;
    position:relative;
}

#search {
    padding-right:30px;
}
#submit {
    position:absolute;
    right:0;
    top:0;
}

/* Sidebar for dark mode (StackOverflow, 2012a) (W3Schools, 2024g) */
.sidebar-dark {
    overflow:auto;
    float:left;
    width: 250px;
    height:105%;
    border-right:3px solid white;
    box-shadow: 2px 0px 2px lightgray;
}

/* Change content to always scroll if past viewport height (StackOverflow, 2012a)*/
#content {
    position:absolute;
    width:auto;
    overflow:auto;
    max-height:100%;
}

/* Sidebar for light mode (StackOverflow, 2012a) (W3Schools, 2024g) */
.sidebar-light {
    overflow:auto;
    float:left;
    width: 250px;
    height:105%;
    background-color:white;
    border-right:3px solid #313638;
    box-shadow: 2px 0px 2px rgb(51 51 51);
}

/* (StackOverflow, 2008a) */
html, body {
    height:98%;
    width:90%
}

/* (StackOverflow, 2011a) */
.click {
    cursor: pointer;
}

/* Main Content */
#content {
    margin-left: 250px;
    padding: 20px;
}

/* (MDN Web Docs, 2024a) */
.selected {
    color: var(--selected-color);
    font-weight:bold;
}

#recipes {
    font-size:20px;
}

h1 {
    font-weight:bold;
}

#ingredients {
    font-size:20px;
}

/* Modify Modal */
#add-ingredient-form {
    text-align:center;
    margin-bottom:15px;
}

#add-recipe-form {
    text-align:center;
}

#ingredient-add-text {
    margin-bottom:10px;
}

.recipe-add {
    margin-bottom:10px;
}

#ingredient-list-button {
    margin-bottom:15px;
}

#recipe-instructions {
    width:400px;
}

#add-recipe-form {
    margin-bottom:35px;
}

#visual-settings {
    text-align:center;
    margin-bottom:35px;
}

#remove-data {
    text-align:center;
    margin-bottom:15px;
}

#remove-recipe-button {
    margin-top:10px;
    margin-bottom:15px;
}

#remove-ingredient-button {
    margin-bottom:15px;
}

#remove-button {
    margin-bottom:10px;
}

.warning-message {
    color: crimson;
}

#initialise-data {
    text-align:center;
}

#initialise-button {
    margin-top:10px;
    margin-bottom:10px;
}

/* Main Content on loading page */
#big-logo {
    text-align:center;
    margin-top:10px;
    margin-bottom:20px;
    font-size:50px
}

.section-divider {
    text-align:center;
    margin-top:25px;
    margin-bottom:25px;
    font-weight:bold;
}

.section-divider-withunder {
    text-align:center;
    margin-top:25px;
    font-weight:bold;
    
}

.under-section {
    text-align:center;
    margin-bottom:25px;
    font-style: italic;
}

p {
    font-size:larger;
}

/* StackOverflow (2015b) */
.use-guide-list {
    font-size:larger;
    text-align:center;
    list-style-position:inside;
}

li {
    font-size:larger;
}

/* Recipe Displays */
.recipe-title {
    font-weight:bold;
}

.recipe-instructions {
    font-weight:bold;
}

.recipe-servings {
    font-weight:bold;
}

.recipe-ingredients {
    font-weight:bold;
}

.recipe-instruction-content {
    margin-bottom: 40px;
}

/* Search Headers */
.search-header {
    font-weight:bold;
    margin-bottom:20px;
}